<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello {{prenom}}</title>
</head>
<body>
    <h1>Bonjour {{prenom}} vous avez {{age}} ans!</h1>
</body>
</html>